<div id="container"></div>

<script>
window.VoteOScope = window.VoteOScope || {};
window.VoteOScope.questions = JSON.parse('<%= raw(@questions.to_json(only: [:id, :short, :long])) %>');
window.VoteOScope.userAnswers = [];
</script>
