<div id="question">
  <h1>{{short}}</h1>
  <p>{{long}}</p>
  <a href='#' class="answer" data-answer='agree'><%= I18n.t('answers.answers.agree') %></a>
  <a href='#' class="answer" data-answer='neutral'><%= I18n.t('answers.answers.neutral') %></a>
  <a href='#' class="answer" data-answer='disagree'><%= I18n.t('answers.answers.disagree') %></a>
  <a href='#' class="answer"><%= I18n.t('answers.answers.skip') %></a>
</div>
