<div id="question">
  <h1>{{short}}</h1>
  <p>{{long}}</p>
  <p>
  <a href='#' class="answer agree" data-answer='agree'><%= I18n.t('answers.answers.agree') %></a>
  <a href='#' class="answer neutral" data-answer='neutral'><%= I18n.t('answers.answers.neutral') %></a>
  <a href='#' class="answer disagree" data-answer='disagree'><%= I18n.t('answers.answers.disagree') %></a>
  </p>
  <!--
  <p>
  <a href='#' class="answer skip"><%= I18n.t('answers.answers.skip') %></a>
  </p>
  -->
</div>
