$green: #889922;
$light-green: #D4E86F;
$match-green: #EDFCA0;
$no-match-red: #FCB5A0;
$neutral-yellow: #FCF8A0;

a.answer {
  margin-right: 2em;
  font-weight: bold;
}

a.answer.skip {
  font-weight: normal;
}

#vote-o-scope-detailed-results {
  border: 0;
  thead {
    th:first-child {
      background-color: white;
    }
    th {
      background-color: $light-green;
    }
  }
  td {
    min-width: 5em;
  }
  td.match {
    background-color: $match-green;
  }
  td.no-match {
    background-color: $no-match-red;
  }
  td.neutral
  {
    background-color: $neutral-yellow;
  }
  td:first-child {
    text-align: right;
    padding-right: 1em;
    font-weight: bold;
  }
  td {
    text-align: center;
  }
}

#vote-o-scope-top-list {
  text-align: right;
  td:first-child {
    font-weight: bold;
    text-align: center;
  }
}
