<h1><%= I18n.t('results.details') %></h1>
<table id="vote-o-scope-detailed-results">
  <thead>
    <tr>
      <th></th>
      {{#each parties}}
      <th>{{name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
  {{#each questions}}
  <tr>
    <td>{{short}}</td>
    {{#each partiesAnswers}}
    <td class="{{matchClass}}">
      <a
        href="#"
        class="vote-o-scope-party-answer-link"
        data-answer-id="{{id}}"
        >
        {{answer}}
      </a>
    </td>
    {{/each}}
  </tr>
  {{/each}}
  </tbody>
</table>
